//Colores
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
$darksalmon: #EE9480;
$melon: #F4BAAE;
$palepink: #FADFDA;
$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1B4EB;
$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;
$raisingblack: #221D23;
$nickel: #726F73;
$silverchalice: #AEACAF;

// Tipografia
$raleway: 'Raleway', serif;
$opensans: 'Open Sans', sans-serif;

// Peso de Fuente
$regular: 400;
$bold: 700;

//Tamaño de la Fuente
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 16px;
$x-small: 12px;
